@charset "utf-8";

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Comfortaa:500,700');

// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Comfortaa", sans-serif;

// Update some of Bulma's component variables (derived variables)
$scheme-main:       $grey-dark;
$scheme-main-bis:   $grey-dark;
$scheme-main-ter:   $grey-dark;
$text:              $grey-lightest;
$text-light:        $grey-lightest;
$text-strong:       $grey-lightest;
$link:              $turquoise;
$link-hover:        $turquoise;
$link-focus:        $turquoise;
$link-focus-border: $turquoise;
$link-active-border:$grey-darker;

//form
$input-color: $grey-lightest;
$input-background-color: rgba($grey-lightest, .25);

// prior vars gets passed in to bulma styling
@import "../../node_modules/bulma/bulma.sass";

$tooltip-background-color:  $grey-lightest;
$tooltip-color: $grey-darker;

@import "../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

.not-bordered {
    border: none;
}

.loading-spin {
    width: 20px;
    height: 20px;
    margin-left: 0.25rem;
    margin-right: -0.375rem;
    //background-color: $grey-lightest;
    border: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba($grey-darker, .25);
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}